.landingPageContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/homeimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPageContainer nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  cursor: pointer;
}


.navHeader span {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: cursive;
  color: darkslateblue;
}
.navHeader span img {
  width: 27px;
  height: 27px;
}
.navList li {
  display: inline-flex;
  margin-right: 50px;
  font-size: 1.01rem;
  font-weight: 800;
  color: white;
  font-family: papyrus;
}

.landingMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.landingMainContainer p {
  font-size: 1.2rem;
  color: crimson;
  font-family: cursive;
  font-weight: bolder;  
  margin: 0px 5px 10px;
}
.landingMainContainer h2 {
  color: #d7d8df;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  width: 60vw;
}


.scene {
  width: 10em;
  justify-content: center;
  align-items: center;
 }
 
 .cube {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
 }
 
 .cube:hover {
  transform: rotateX(-90deg);
 }
 
 .side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
 }
 
 .top {
  background: wheat;
  color: #222229;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
 }
 
 .front {
  background: #222229;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
 }
/* ------------------------------------------------- */
.videoConnect {
  background-image: url("/public/backgroundconnectimg.jpg");
  height: 100vh;
  align-content: center;
}

.videoConnect {
  text-align: center;
  color: whitesmoke;
  align-items: center;
}
.videoConnect .heading {
  padding: 20px 40px;
  font-family: cursive;
}
.videoConnect #outlined-basic {
  background-color: rgba(169, 169, 169, 0.437);
  width: 350px;
}

.videoConnect .VideoBox {
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.meetVideoContainer {
  position: relative;
  height: 100vh;
  background-color: lightblue;
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 0;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;

  padding: 10px;
  gap: 10px;
}

.conferenceView video {
  width: 40vw;
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}

.chatRoom {
  position: absolute;
  height: 90vh;
  right: 0;
  background: darkslateblue;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: absolute;
  bottom: 0;
}
/* home component------ */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 70px;
  height: 60px;
  text-align: center;
  color: #d7d8df;
}
.navBar span {
  font-family: cursive;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.621);
  padding: 5px;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}
.HomePage {
  background-image: url("/public/HomePage_2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.leftPanel h2{
  width: 90%;
  font-size: 27px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
.HistoryIcon {
  margin-left: 10px;
}

/* history page------------- */
.HistoryPage {
  background-color: lightblue;
  height: 100vh;
}

